div.shop{border-bottom: 1px dashed red;padding: 0.3rem 0;}
div .des{font-size: 0.3rem;color: #333333;text-align: center;margin-bottom: 0.2rem;}
div .span{color: red;display: block;font-size: 0.4rem;margin-top: 0.2rem;}
input{width: 40px;border-top:1px solid #999999;border-bottom:1px solid #999999;text-align: center;}
.button{width: 50%;float: right;text-align: center;margin-top: 0.4rem;padding-left: 0.1rem;}
.i{text-decoration: line-through;color: #999;font-size: 0.3rem;}
